body {
    font-family: sans-serif;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: gray;
}
header{
    background-image: linear-gradient(to bottom, #000033, #161b44);
    padding: 20px 0;
    text-align: center;
}


.container{
    width: 900px;
     background-image: linear-gradient(rgb(9, 9, 95), grey);
     padding:0 0 40px 0;
     text-align: center;
}
h1{
    color: darkblue;
}
nav{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
nav a{
    text-decoration: none;
    color: white;
}
footer{
    color: black;
    margin-top: 20px;
    font-size: 18px;
}
main{
   flex: 1;
    padding: 50px;
    background-image: url('https://upload.wikimedia.org/wikipedia/ru/a/ad/Call_of_Duty_Modern_Warfare_3_box_art.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.text-overlay{
    background-color: black;
    opacity: 0.7;
    padding: 30px;
    color: white;
}
footer{
    background-color: darkblue;
    padding: 20px;
    text-align: center;
}
.content-card{
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    color: red;
}
li{
    font-size: 20px;
}
nav a:hover{
    color: blue;
}
